<ul id="lists">
  <% order_lists(@lists).each do |list| %>
    <li class=<%= list_status(list) %>>
      <a href="/lists/<%= @lists.index(list) %>">
        <h2><%= list[:name] %></h2>
        <p><%=todos_finished(list)%>/<%= list[:todos].size %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a href="/lists/new" class="add">New List</a>
<% end %>
